body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}



.bienvenidos{
  text-align: center;
}



body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.main {
  padding: 20px;
}
section {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}


.homeimagen{
width: 1000px;

}


.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }


  .cerrar{
    text-align: right;
  }
  .logito{
    text-align: end;
  }
  .carousel {
    position: relative;
    width: 50%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .slide.active {
    display: block;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Asegura que el menú esté por encima del contenido */
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #555;
}

/* Estilo para el espacio reservado en la parte superior para el menú fijo */
body::before {
  content: "";
  display: block;
  height: 70px; /* Ajusta esta altura según la altura del menú */
  width: 100%;
}

/* Estilo para el contenido principal para evitar que se superponga con el menú */
main {
  margin-top: 70px; /* Ajusta esto según la altura del menú */
}
